@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

body
	font: $font-stack
	&::-webkit-scrollbar
		height: 0
		width: 0

*
	transition: all .3s


//----------------------------------
// TEST
//----------------------------------
section.test-block
	margin: 100px 0
//----------------------------------
// END TEST
//----------------------------------
.fixed-panel
	position: fixed
	height: 70px
	width: 100%
	background: rgba(0, 0, 0, 0.64)
	padding: 20px 0
	z-index: 10

.top-navigation
	text-align: right
	li
		display: inline-block
		transition: background .2s
		a
			color: #fff
			margin: 0 10px
		&:hover
			background: #12908b
			transition: background .2s
.logo-block
	position: absolute
	left: 0
	color: #fff
	.lv-2
		font-size: 12px
		padding-left: 67px
		display: block
		line-height: 13px
.top-line
	height: 100vh
	background-size: cover
	.top-title
		position: absolute
		left: 50%
		top: 50%
		transform: translateX(-50%) translateY(-50%)
		padding: 30px
		background: rgba(0, 0, 0, 0.54)
		white-space: nowrap
		width: auto
		h2
			font-weight: 900
			font-size: 60px
			line-height: 65px
		h3
			padding-left: 90px
			font-size: 50px
			line-height: 55px
		h4
			font-size: 45px
			line-height: 50px
			padding-left: 300px
.shad-bg
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.23)

#scroll-btn
	position: absolute
	left: 50%
	bottom: 70px
	span
		position: absolute
		top: 0
		left: 50%
		width: 30px
		height: 50px
		margin-left: -15px
		border: 2px solid #fff
		border-radius: 50px
		box-sizing: border-box
		&:before
			position: absolute
			top: 10px
			left: 50%
			content: ''
			width: 6px
			height: 6px
			margin-left: -3px
			background-color: #fff
			border-radius: 100%
			-webkit-animation: sdb10 2s infinite
			animation: sdb10 2s infinite
			box-sizing: border-box

.about
	color: #000
	.text-holder
		padding-top: 110px
		h4
			font-size: 35px
			line-height: 40px
			margin-bottom: 15px
			font-family: 'Lobster', cursive
		p
			padding-left: 100px
			font-size: 25px
			line-height: 30px
	
.my-food
	overflow: hidden
	padding-bottom: 150px
	.food-item
		padding: 20px
		.image-holder
			height: 180px
			margin-bottom: 20px
		.description
			p
				color: #fff

.footer
	margin: 150px 0 0 0
	.form-holder
		.form-group
			width: 300px
			margin-bottom: 20px
			input,
			textarea,
			button
				width: 100%
				background: transparent
				border: 1px solid #fff
				padding: 5px
				color: #fff
				&::-webkit-input-placeholder 
					color: #fff
				&::-moz-placeholder 
					color: #fff
				&:-ms-input-placeholder 
					color: #fff
				&:-moz-placeholder 
					color: #fff
			button
				width: auto
				padding: 5px 10px
				transition: color .2s, background .2s
				&:hover
					background: #fff
					color: #000
					transition: color .2s, background .2s
			textarea
				height: 150px
	.foot-navigation
		.top-navigation
			text-align: left
	.links
		margin-top: 40px
		li
			margin-bottom: 10px
			padding-left: 30px
			position: relative
			i
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
	.socials
		li
			display: inline-block
			margin-right: 20px
			a
				display: inline-block
				height: 40px
				width: 40px
				border: 1px solid #fff
				border-radius: 50%
				position: relative
				i
					position: absolute
					left: 50%
					top: 50%
					transform: translateY(-50%) translateX(-50%)
			&:hover
				a
					background: #fff
					i
						color: #000

.galery
	margin-top: 70px
.galery-holder
	margin-top: 70px
	.gal-item
		float: left
		overflow: hidden
		font-size: 0
		letter-spacing: 0
		outline: 10px solid #fff
		&:nth-child(10n + 1)
			width: 50%
			height: 400px
		&:nth-child(10n + 2)
			width: 25%
			height: 200px
		&:nth-child(10n + 3)
			width: 25%
			height: 200px
		&:nth-child(10n + 4)
			width: 50%
			height: 200px
		&:nth-child(10n + 5)
			width: 25%
			height: 400px
			img
				width: auto
				height: 100%
		&:nth-child(10n + 6)
			width: 25%
			height: 200px
		&:nth-child(10n + 7)
			width: 25%
			height: 200px
		&:nth-child(10n + 8)
			width: 25%
			height: 200px
		&:nth-child(10n + 9)
			width: 25%
			height: 200px
		&:nth-child(10n + 10)
			width: 50%
			height: 200px
			float: left
		// .image-holder
		// 	height: 100%


.video
	.video-holder
		.inline-layout
			.video-item
				padding: 10px
				position: relative
				cursor: pointer
				color: #000
				margin-bottom: 40px
				h3
					margin-bottom: 5px
					color: #000000
					font-weight: 100
					height: 50px
				.iframe-holder
					position: relative
					&:after
						content: '\f16a'
						font-family: 'FontAwesome'
						font-size: 45px
						position: absolute
						left: 50%
						top: 50%
						height: 50px
						width: 50px
						pointer-events: none
					&:hover
						&:after
							color: #e62117
					&.active
						&:after
							display: none
				.iframe-holder
					height: 200px
					background-size: cover
					background-position: 50% 50%
					iframe
						height: 100%
						width: 100%
					





.anim-holder
	#anim-block-1
		height: 140px
		width: 200px
		position: absolute
		left: 30%
		bottom: 0px
		// background: url('../img/content/anim-1-test.png')
		background-size: cover
		animation: anim1 5s infinite
		animation-delay: 2s;

	#anim-block-2
		height: 140px
		width: 200px
		position: absolute
		left: 50%
		top: 0px
		background: url('../img/content/anim-3.png')
		background-size: cover
		animation: anim2 5s infinite
		animation-delay: 2s;
		transform: rotate(180deg)
	#anim-block-3
		height: 140px
		width: 200px
		position: absolute
		left: -50px
		top: 50%
		background: url('../img/content/anim-4.png')
		background-size: cover
		transform: rotate(90deg)
		animation: anim3 1s infinite
	#anim-block-4
		height: 140px
		width: 200px
		position: absolute
		right: -50px
		top: 50%
		background: url('../img/content/anim-6.png')
		background-size: cover
		transform: rotate(-90deg)
		animation: anim4 2s infinite
		transition: all 0

.see-more
	text-align: center
	margin-top: 70px
	i
		margin-left: 20px