@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

body
	font: $font-stack
	&::-webkit-scrollbar
		height: 0
		width: 0

*
	transition: all .3s


//----------------------------------
// TEST
//----------------------------------
section.test-block
	margin: 100px 0
//----------------------------------
// END TEST
//----------------------------------
.fixed-panel
	position: fixed
	height: 70px
	width: 100%
	background: rgba(0, 0, 0, 0.64)
	padding: 20px 0
	z-index: 10

.top-navigation
	text-align: right
	li
		display: inline-block
		a
			color: #fff
			margin: 0 10px
.logo-block
	position: absolute
	left: 0
	color: #fff
	.lv-2
		font-size: 12px
		padding-left: 67px
		display: block
		line-height: 13px
.top-line
	height: 100vh
	background-size: cover
	.top-title
		position: absolute
		left: 50%
		top: 50%
		transform: translateX(-50%) translateY(-50%)
		padding: 30px
		background: rgba(0, 0, 0, 0.54)
		white-space: nowrap
		width: auto
		h2
			font-weight: 900
			font-size: 60px
			line-height: 65px
		h3
			padding-left: 90px
			font-size: 50px
			line-height: 55px
		h4
			font-size: 45px
			line-height: 50px
			padding-left: 300px
.shad-bg
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.23)

#scroll-btn
	position: absolute
	left: 50%
	bottom: 70px
	span
		position: absolute
		top: 0
		left: 50%
		width: 30px
		height: 50px
		margin-left: -15px
		border: 2px solid #fff
		border-radius: 50px
		box-sizing: border-box
		&:before
			position: absolute
			top: 10px
			left: 50%
			content: ''
			width: 6px
			height: 6px
			margin-left: -3px
			background-color: #fff
			border-radius: 100%
			-webkit-animation: sdb10 2s infinite
			animation: sdb10 2s infinite
			box-sizing: border-box
