section.footer(style='background-image: url(../img/content/bg-3.jpg)')
	.container
		.inline-layout.col-2
			.form-holder
				h3.underline.white 
						span  Контакты
				form(action="")
					.form-group
						input(type="text", placeholder="Имя")
					.form-group
						input(type="text", placeholder="E-mail")
					.form-group
						textarea(type="text", placeholder="Текст сообщения")
					.form-group
						button отправить
			.foot-navigation
				ul.top-navigation
					li
						a(href="#") HOME
					li
						a(href="#") VIDEO
					li
						a(href="#") FOTO
					li
						a(href="#") BLOG
				ul.links
					li
						a(href="#")
							i.fa.fa-home
							span Adress: Saint-Petersburg.
					li
						a(href="#")
							i.fa.fa-phone
							span Tel: +7 (951) 6582980
					li
						a(href="#")
							i.fa.fa-envelope
							span email : tolyk-moreak@yandex.com
					li
						a(href="#")
							i.fa.fa-youtube-play
							span YouTube chanel : /borsch
				ul.socials
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-twitter
					li
						a(href="#")
							i.fa.fa-google-plus
								
								
