.fixed-panel
	.container
		.inline-layout.col-2
			.logo-holder
				.logo-block
					span Anatoliy Bordiyan
						span.lv-2 Personal Site
			.top-navigation
				ul.desktop-menu
					li
						a(href="index.html") HOME
					li
						a(href="video.html") VIDEO
					li
						a(href="galery.html") FOTO
					li
						a(href="blog.html") BLOG
	.mobile-menu-holder
		#m-nav-btn
			span
			span
			span
		ul#mobile-menu
			li
				a(href="index.html") HOME
			li
				a(href="video.html") VIDEO
			li
				a(href="galery.html") FOTO
			li
				a(href="blog.html") BLOG



