.fixed-panel
	.container
		.inline-layout.col-2
			.logo-holder
				.logo-block
					span Anatoliy Bordiyan
						span.lv-2 Personal Site
			ul.top-navigation
				li
					a(href="#") HOME
				li
					a(href="#") VIDEO
				li
					a(href="#") FOTO
				li
					a(href="#") BLOG



