doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade

		section.top-line(style='background-image: url(img/content/bg-1.jpg)')
			.shad-bg
				.top-title
					h2 Food with love
					h3 Food with passion
					h4 Food is art...

				a#scroll-btn(href="#about")
					span
		
		section.blog
			.container
				h3.underline
					span  Блог
				ul.inline-layout.col-1
					mixin new-food-item(desc, src, date, time)
						li.blog-item
							.time-holder
								.date= date
								.time= time
							.image-holder
								img.fake-img(src= src, alt= src)
								.img(style='background-image: url( '+src+')')
							.description
								p= desc
					+new-food-item(
					'Помимо того, что на кухне творят шедевры,изобретают,аккуратненько втыкают маленький кресс салат, есть ещё множество канонов.Чистота и порядок - одни из них.А если повара соблюдают чистоту, исходя из своих принципов,опыта,сооблюдения собственно построенной дисциплины,то такие повара - хорошие повара.',
					'img/content/blog-1.jpg',
					'21.11.2016',
					'20:54'
					)
					+new-food-item(
					'Помимо того, что на кухне творят шедевры,изобретают,аккуратненько втыкают маленький кресс салат, есть ещё множество канонов.Чистота и порядок - одни из них.А если повара соблюдают чистоту, исходя из своих принципов,опыта,сооблюдения собственно построенной дисциплины,то такие повара - хорошие повара.',
					'img/content/blog-1.jpg',
					'21.11.2016',
					'20:54'
					)
					+new-food-item(
					'Помимо того, что на кухне творят шедевры,изобретают,аккуратненько втыкают маленький кресс салат, есть ещё множество канонов.Чистота и порядок - одни из них.А если повара соблюдают чистоту, исходя из своих принципов,опыта,сооблюдения собственно построенной дисциплины,то такие повара - хорошие повара.',
					'img/content/blog-1.jpg',
					'21.11.2016',
					'20:54'
					)
					+new-food-item(
					'Помимо того, что на кухне творят шедевры,изобретают,аккуратненько втыкают маленький кресс салат, есть ещё множество канонов.Чистота и порядок - одни из них.А если повара соблюдают чистоту, исходя из своих принципов,опыта,сооблюдения собственно построенной дисциплины,то такие повара - хорошие повара.',
					'img/content/blog-1.jpg',
					'21.11.2016',
					'20:54'
					)
					+new-food-item(
					'Помимо того, что на кухне творят шедевры,изобретают,аккуратненько втыкают маленький кресс салат, есть ещё множество канонов.Чистота и порядок - одни из них.А если повара соблюдают чистоту, исходя из своих принципов,опыта,сооблюдения собственно построенной дисциплины,то такие повара - хорошие повара.',
					'img/content/blog-1.jpg',
					'21.11.2016',
					'20:54'
					)
					+new-food-item(
					'Помимо того, что на кухне творят шедевры,изобретают,аккуратненько втыкают маленький кресс салат, есть ещё множество канонов.Чистота и порядок - одни из них.А если повара соблюдают чистоту, исходя из своих принципов,опыта,сооблюдения собственно построенной дисциплины,то такие повара - хорошие повара.',
					'img/content/blog-1.jpg',
					'21.11.2016',
					'20:54'
					)

				.see-more
					a(href="#").button Загрузить еще
						i.fa.fa-refresh.fa-spin

		
		

       


		include ./partials/navigation.jade

		

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
