doctype html
html(lang='ru')
	head
		title greatest page

		include ./partials/head.jade

	body

		include ./partials/noscript.jade

		section.test-block
			.container
				ul
					li
						a(href="index.html") Main
