doctype html
html(lang='ru')
	head
		title greatest page

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		//- Add your code here

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
