doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade

		section.top-line(style='background-image: url(img/content/bg-1.jpg)')
			.shad-bg
				.top-title
					h2 Food with love
					h3 Food with passion
					h4 Food is art...

				a#scroll-btn(href="#about")
					span
		section.video
			.container
				h3.underline  Мои
					span   видео

				.video-holder
					.inline-layout.col-3
						mixin new-video-item(ysrc, imgsrc, name)
							.video-item
								h3= name
								.iframe-holder(data-href= ysrc, style="background-image: url( "+imgsrc+")")

						+new-video-item('z5hyxelB1XE', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('tTa9ntI2l9k', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('eEY6AQK0ckg', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('ZhKB5kLjrmM', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('0ucczxu9nlQ', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('cyvnhzNA4yY', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('QrzfwrfnSMc', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('0sMKeNy', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)

					.see-more
						a(href="#").button Загрузить еще
							i.fa.fa-refresh.fa-spin

		section.video
			.container
				h3.underline  Теле
					span   Шоу

				.video-holder
					.inline-layout.col-3
						mixin new-video-item(ysrc, imgsrc, name)
							.video-item
								h3= name
								.iframe-holder(data-href= ysrc, style="background-image: url( "+imgsrc+")")

						+new-video-item('2wkO4vgrUj0', 'img/content/video-bg-1.jpg', 'Лазанья мать её ! ! !'
						)
						+new-video-item('YTZ9X694TFY', 'img/content/video-bg-1.jpg',
						'Испанскай или Краковский Суп?'
						)
						+new-video-item('xAPDmvIOcv8', 'img/content/video-bg-1.jpg',
						'Масло Креветочное. How to Make Butter Shrimp'
						)
						+new-video-item('qZ6_mSsGBpQ', 'img/content/video-bg-1.jpg',
						'Курица приготовленная в СТИРАЛЬНОЙ МАШИНЕ'
						)
						+new-video-item('s9TBlBtP8iI', 'img/content/video-bg-1.jpg',
						'Стейк Рибай приготовленный УТЮГОМ !'
						)
						+new-video-item('n5wrtGhxPmc', 'img/content/video-bg-1.jpg',
						'Колбаски.How to make sausages.'
						)
						+new-video-item('302vHqEZFeY', 'img/content/video-bg-1.jpg',
						'Испанскай или Краковский Суп?'
						)

					.see-more
						a(href="#").button Загрузить еще
							i.fa.fa-refresh.fa-spin

		#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
			.slides
			h3.title
			a.prev ‹
			a.next ›
			a.close ×
			a.play-pause
			ol.indicator
		
		

       


		include ./partials/navigation.jade

		

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
